@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

*{
    margin: 0;  /* внешний отступ елем. */
    padding: 0;  /* внутрин.отступ елемента */
    font-family: 'Poppins','Times New Roman',sans-serif;
}

body{
    font-family: Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right,black, skyblue, black);
    /*background: #112128;*/
}

.container{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    background: #fff;
    margin: 10px;
    padding: 15px;
}

.container .card .imgBx{
    flex: 0 0 400px;
}

.container .card .imgBx img{
    max-width: 100%;
}

.container .card .content{
    margin-left: 20px;
}

@media(max-width:991px){
    .container
    {
        flex-direction: column;
    }
}

@media(max-width:768px){    /*768*/
    .container
    {
        flex-direction: column;
    }
    .container .card
    {
        flex-direction: column;
        max-width: 350px;
    }
    .container .card .imgBx
    {
        max-width: 100%;
    }
    .container .card .content{
        margin-left: 0;
    }
}