{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="style.css">
    <link href="{% static 'mysite/style.css' %}" rel="stylesheet" type="text/css"/>
    <title>Розробка сайтів під ключ.На Python/Django.</title>
    <style>
        body{
            background-image:url("{% static 'images/IT9.jpg' %}");
            height: 800px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>

    <div class="grad1">
        <div class="tex">
            <div class="dropdown">
                <button class="dropbtn">Meню</button>
                <div class="dropdown-content">
<!--                    <a href="{% url 'base' %}">Головна</a>-->
                    <a href="{% url 'poslug' %}">ПОСЛУГИ</a>
                    <a href="{% url 'portfolio' %}">ПОРТФОЛІО</a>
                    <a href="{% url 'price' %}">ЦІНИ</a>
                    <a href="{% url 'info' %}">ІНФО</a>
                    <a href="{% url 'kontakt' %}">ЗВ'ЯЗОК</a>
                </div>
            </div>
            <img src="{% static 'images/IT27.jpg' %}" alt="IT" class="logo">
            <h3>Телефонуйте негайно</h3>
            <a class="tel" href="tel:+380970698585"> +38(097)0698585</a>
            <h2><span>Р</span>ОЗРОБКА САЙ<span>ТІ</span>В ПІД КЛЮЧ</h2>
            <h1>PYTH<span>O</span>N DJ<span>A</span>NGO FLASK</h1>
            <h2>DEV<span>EL</span>OPED by HU<span>M</span>AN</h2>
        </div>
    </div>

    <div class="text">
        <img src="{% static 'images/IT12.jpg' %}" width="700px">
        <h1>Послуги!</h1>
        <h5>Landing Page</h5>
        <h5>Розробка сайтів.</h5>
        <h5>Проектування сайтів.</h5>
        <h5>Тех.підтримка.</h5>
        <h5>Корпоративні сайти.</h5>
        <h5>Розробка CRM.</h5>
        <h5>Розробка ERP-систем.</h5>
        <h5>Інтернет магазини.</h5>
        <h5>Веб Дизайн.</h5>
        <h5>SEO-оптимізація.</h5>
        <h5>Телефонуйте невідкладаючи,в будь </h5>
        <h5>який зручний для Вас час.</h5>
        <h5>Працюем 25/8 :) </h5>
    </div>

    <div class="parallax">
        <h2>If you know where you are flying, the path will be found by itself.
            <p>p.s. “ Arrow ”</p>
        </h2>
    </div>

    <div class="text1">
        <img src="{% static 'images/IT13.jpg' %}" width="700px" height="500px">
        <div class="ttext">
            <h5>Python и Django</h5>
            <p>
                Щоб створити якісний і потужний веб-ресурс, необхідно зрозуміти,
                яким функціоналом він буде володіти. Залежно від цього програміст
                вибирає, який фреймворк і мову програмування використовувати.
                Python Django допомагає реалізувати складні проекти і створити
                функціональний сайт, по можливостях не поступається YouTube,
                Pinterest або Instagram. Мова програмування Python є одним з
                найпопулярніших в світі. Незважаючи на велику кількість більш
                «молодих» конкурентів, функціонал даної мови програмування актуальний
                і великий. При першому знайомстві він здається спрощеним. Але варто
                познайомитися з ним ближче, як тут же розкриваються переваги Python:
                Один з перших перекреслив міф про те, що створення коду - вкрай
                складна робота. Звичайно, потрібні навички і знання, але головна
                особливість Python полягає в тому, що на ньому легко писати і його
                легко читати. Існує маса навчальної літератури, тому допустити провалу
                в інформації та знаннях практично неможливо. У свою чергу, це тягне за
                собою якісну роботу, тому що практично будь-яке завдання вирішується.
                Можливість тестувати частини коду, а не всю написану програму. Це
                дозволяє своєчасно виявляти помилки і моментально усувати їх, а не
                переробляти потім весь код. Призначений як для створення простих
                програм, так і для складних додатків. Легко реалізується на будь-якій
                операційній системі. Мова настільки добре продуманий, що при перенесенні
                коду на іншу операційну систему не очікується «сюрпризів» у вигляді
                збоїв або помилок. Легко читається синтаксис дає можливість розуміти
                чужий код, все інтерфейси логічні і прості. Постійно розвивається і
                доповнюється новими фреймворками, сервісами і середовищами розробки.
                Не потрібно винаходити велосипед, якщо він вже зроблений до вас. Досить
                його трохи переробити під себе. Мова програмування Python є потужним інструментом.
            </p>
        </div>
    </div>

    <div class="parallax1">
        <h2>І саме головне </h2>
        <h2> ніякого Wordpress,</h2>
        <h2>місце сміття на смітнику:)</h2>
    </div>

    <div class="text2">
        <div class="textMy">
            <h3>Чому Django - фреймворк #1 на планеті для веб-разробника.</h3>
            <p>Створення сайту на Django є приємним для розробника процесом.
                Справа в тому, що платформа максимально зручна і зрозуміла.
                Легко своєчасно виявити помилки або вирішити складні завдання.
                Ось кілька причин, чому розробники вважають цей фреймворк
                відмінним: Дуже розвинена екосистема. Багато розробники сприймають
                Django, як систему, яка відмінно поєднується з іншими сторонніми
                додатками. Платформа має готові блоки, з яких можна конструювати
                сайт. Наприклад, блок форми замовлення або зворотного дзвінка
                застосовується на багатьох ресурсах. Програмісту не потрібно кожен
                раз писати новий код, досить вставити готове рішення і довести його
                до ідеалу. Готова адміністративна панель. Вона відразу ж генерується
                при створенні програми, що значно знижує час на розробку сайту, так
                як програмісту не потрібно окремо створювати адміністративну панель.
                Можливість розширення. Створення сайту на Django дуже зручне, тому
                що функціонал даної платформи легко розширюється. Можна встановити
                додаткові плагіни, що розширюють можливості веб-ресурсу. Великий
                набір бібліотек. У бібліотеках зберігаються готові функції, класи,
                що дозволяють вирішувати певні завдання. Це також спрощує роботу
                програміста і збільшує швидкість створення сайту. Крім того,
                ймовірність помилок знижується за рахунок використання готових і
                перевірених бібліотек. Але найголовніше - сайт виходить потужним
                і функціональним.Котрий задовольнит потреби замовника.
            </p>
            <img src="{% static 'images/ITpyth2.jpeg' %}" width="90%" height="300px">
        </div>
        <div class="textMy2">
            <h3>Чому FLASK - надзвичайний фреймворк!!!</h3>
            <p>Flask надає простоту, гнучкість і акуратність в роботі, дозволяючи
                користувачеві самому вибирати, як реалізувати ті чи інші речі. Flask,
                якщо ви хочете отримати великі можливості або ж якщо вам потрібно
                більше контролю над використовуваними компонентами (такі як
                бази даних, які вам потрібно використовувати або взаємодіяти з
                ними). Зверніть увагу на те, що Flask, головними рисами якого є
                мінімалізм і простота, дозволяє нам запустити «WEB-платформу»
                набагато швидше, але це не говорить про те, що Flask краще за
                всіми параметрами. Flask принципово не включає в себе ніяких
                модулів для управління базами даних. За філософії Flask, кожен
                сам вибирає який саме модуль для управліннями базами даних йому
                потрібен і не веб-фреймворку це вирішувати. Сам по собі, Flask
                не надає рішень для аутентифікації. Для вашого веб додатки може
                і не знадобитися функція аутентифікації користувачів. Як правило,
                якщо у вас виникла необхідність призначену для користувача
                аутентифікацію в Flask, є розширення, які можуть спростити вам
                життя. Один з цеглинок, який може надати Flask - це безпечні куки,
                які будуть дуже доречними при реалізації схеми аутентифікації.
                Flask не надає ніякого адміністративного інтерфейсу, але
                (що не дивно), розширення Flask-Admin дає багато спільного з
                Django - хоча це трохи складніше налаштовувати, так як вам потрібно
                інтегрувати розширення з вашої власної схемою аутентифікації.
                Як що коротко Він чудовий.
            </p>
            <img src="{% static 'images/ITpython.jpg' %}" width="90%" height="300px">
        </div>
    </div>


    <div class="footer">
        <div class="icons">
            <h4>Design: Andii Shevchenko</h4>
            <h3>Всі права захишені 2020 р. Soft Developer by Andii Shevchenko</h3>
            <ul class="sci">
                <li><a href="http://www.facebook.com/andrey.shevchenko.773/?viewas=100000686899395"><img src="{% static 'images/Facebook.png' %}"></a></li>
                <li><a href="http://twitter.com/83Endry"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/instagram.jpg' %}"></a></li>
            </ul>
        </div>
    </div>

</body>

</html>