{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="style.css">
    <link href="{% static 'mysite/style.css' %}" rel="stylesheet" type="text/css"/>
    <title>Розробка сайтів під ключ.На Python/Django.</title>
    <style>
        body{
            background-image:url("{% static 'images/IT14.jpg' %}");
            height: 800px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image:url("{% static 'images/IT9.jpg' %}");
        }
    </style>
</head>

<body>

    <div class="grad1">
        <div class="tex">
            <div class="dropdown">
                <button class="dropbtn">Meню</button>
                <div class="dropdown-content">
<!--                    <a href="{% url 'base' %}">Головна</a>-->
                    <a href="{% url 'poslug' %}">ПОСЛУГИ</a>
                    <a href="{% url 'portfolio' %}">ПОРТФОЛІО</a>
                    <a href="{% url 'price' %}">ЦІНИ</a>
                    <a href="{% url 'info' %}">ІНФО</a>
                    <a href="{% url 'kontakt' %}">ЗВ'ЯЗОК</a>
                </div>
            </div>
            <img src="{% static 'images/IT27.jpg' %}" alt="IT" class="logo">
            <h3>Телефонуйте негайно</h3>
            <a class="tel" href="tel:+380970698585"> +38(097)0698585</a>
            <h2><span>Р</span>ОЗРОБКА САЙ<span>ТІ</span>В ПІД КЛЮЧ</h2>
            <h1>PYTH<span>O</span>N DJ<span>A</span>NGO FLASK</h1>
            <h2>DEV<span>EL</span>OPED by HU<span>M</span>AN</h2>
        </div>
    </div>

    <div class="text">
        <img src="{% static 'images/IT12.jpg' %}" width="700px">
        <h1>Послуги!</h1>
        <h5>Landing Page</h5>
        <h5>Разработка сайтов.</h5>
        <h5>Проектування сайтів.</h5>
        <h5>Тех.підтримка.</h5>
        <h5>Корпоративні сайти.</h5>
        <h5>Розробка CRM.</h5>
        <h5>Розробка ERP-систем.</h5>
        <h5>Інтернет магазини.</h5>
        <h5>Веб Дизайн.</h5>
        <h5>SEO-оптимізація.</h5>
        <h5>Телефонуйте невідкладаючи,в будь </h5>
        <h5>який зручний для Вас час.</h5>
        <h5>Працюем 25/8 :) </h5>
    </div>

    <div class="parallax">
        <h2>2+2=5</h2>
        <h1>WEB</h1>
        <h1>Architecture</h1>
    </div>

    <div class="text1">
        <img src="{% static 'images/IT13.jpg' %}" width="700px" height="500px">
        <div class="ttext">
            <h5>Python и Django</h5>
            <p>
                Чтобы создать качественный и мощный веб-ресурс, необходимо
                понять, каким функционалом он будет обладать. В зависимости
                от этого программист выбирает, какой фреймворк и язык
                программирования использовать. Python Django помогает
                реализовать сложные проекты и создать функциональный сайт,
                по возможностям не уступающий YouTube, Pinterest или Instagram.
                Язык программирования Python является одним из самых популярных в мире.
                Несмотря на большое количество более «молодых» конкурентов, функционал
                данного языка программирования актуален и обширен. При первом знакомстве
                он кажется упрощенным. Но стоит познакомиться с ним поближе, как тут же
                раскрываются преимущества Python:
                Один из первых перечеркнул миф о том, что создание кода – крайне сложная
                работа. Конечно, нужны навыки и знания, но главная особенность Python
                заключается в том, что на нем легко писать и его легко читать.
                Существует масса обучающей литературы, поэтому допустить провала в
                информации или знаниях практически невозможно. В свою очередь, это
                влечет за собой качественную работу, потому что практически любая задача
                решаема.
                Возможность тестировать части кода, а не всю написанную программу. Это
                позволяет своевременно обнаруживать ошибки и моментально устранять их, а не
                переделывать потом весь код.
                Предназначен как для создания простых программ, так и для сложных приложений.
                Легко реализуется на любой операционной системе. Язык настолько хорошо
                продуман, что при переносе кода на другую операционную систему не ожидается
                «сюрпризов» в виде сбоев или ошибок.
                Легко читаемый синтаксис дает возможность понимать чужой код, все интерфейсы
                логичные и простые.
                Постоянно развивается и дополняется новыми фреймворками, сервисами и средами
                разработки. Не нужно изобретать велосипед, если он уже сделан до вас.
                Достаточно его немного переделать под себя.
                Язык программирования Python является мощным инструментом.
            </p>
        </div>
    </div>

    <div class="parallax1">
        <h2>І саме головне </h2>
        <h2> ніякого Wordpress,</h2>
        <h2>місце сміття на смітнику:)</h2>
    </div>

    <div class="text2">
        <div class="textMy">
            <h3>Почему Django - фреймворк #1 на планете для веб-разработки.</h3>
            <p>Создание сайта на Django является приятным для разработчика
                процессом. Дело в том, что платформа максимально удобная и
                понятная. Легко своевременно обнаружить ошибки или решить
                сложные задачи. Вот несколько причин, почему разработчики
                считают этот фреймворк отличным:

                Очень развитая экосистема. Многие разработчики воспринимают
                Django, как систему, которая отлично сочетается с другими
                сторонними приложениями. Платформа имеет готовые блоки, из
                которых можно конструировать сайт. К примеру, блок формы
                заказа или обратного звонка применяется на многих ресурсах.
                Программисту не нужно каждый раз писать новый код, достаточно
                вставить готовое решение и довести его до идеала.
                Готовая административная панель. Она сразу же генерируется при
                создании приложения, что значительно снижает время на разработку
                сайта, так как программисту не нужно отдельно создавать
                административную панель.
                Возможность расширения. Создание сайта на Django очень удобное,
                потому что функционал данной платформы легко расширяется. Можно
                установить дополнительные плагины, расширяющие возможности веб-ресурса.
                Большой набор библиотек. В библиотеках хранятся готовые функции,
                классы, позволяющие решать определенные задачи. Это также
                упрощает работу программиста и увеличивает скорость создания сайта.
                Кроме того, вероятность ошибок снижается за счет использования готовых
                и проверенных библиотек.
                Но самое главное – сайт получается мощным и
                функциональным. Далее дело за дизайнерами, которые создадут веб-ресурсу
                оболочку и доведут до финальной стадии разработки.</p>
        </div>
        <div class="textMy2">
            <h3>Почему FLASK - отличный фреймворк!!!</h3>
            <p>Создание сайта на Flask является приятным для разработчика
                процессом. Дело в том, что платформа максимально удобная и
                понятная. Легко своевременно обнаружить ошибки или решить
                сложные задачи. Вот несколько причин, почему разработчики
                считают этот фреймворк отличным:

                Очень развитая экосистема. Многие разработчики воспринимают
                Flask, как систему, которая отлично сочетается с другими
                сторонними приложениями. Платформа имеет готовые блоки, из
                которых можно конструировать сайт. К примеру, блок формы
                заказа или обратного звонка применяется на многих ресурсах.
                Программисту не нужно каждый раз писать новый код, достаточно
                вставить готовое решение и довести его до идеала.
                Готовая административная панель. Она сразу же генерируется при
                создании приложения, что значительно снижает время на разработку
                сайта, так как программисту не нужно отдельно создавать
                административную панель.
                Возможность расширения. Создание сайта на Flask очень удобное,
                потому что функционал данной платформы легко расширяется. Можно
                установить дополнительные плагины, расширяющие возможности веб-ресурса.
                Большой набор библиотек. В библиотеках хранятся готовые функции,
                классы, позволяющие решать определенные задачи. Это также
                упрощает работу программиста и увеличивает скорость создания сайта.
                Кроме того, вероятность ошибок снижается за счет использования готовых
                и проверенных библиотек.
                Но самое главное – сайт получается мощным и
                функциональным. Далее дело за дизайнерами, которые создадут веб-ресурсу
                оболочку и доведут до финальной стадии разработки.</p>
        </div>
    </div>

    <div class="forms">Форма зворотнего зв'язку</div>

    <div class="footer">
        <div class="icons">
            <h4>Design: Andii Shevchenko</h4>
            <h3>Всі права захишені 2020 р. Soft Developer by Andii Shevchenko</h3>
            <ul class="sci">
                <li><a href="#"><img src="{% static 'images/Facebook.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/instagram.jpg' %}"></a></li>
            </ul>
        </div>
    </div>

</body>

</html>