{% extends 'mysite/base.html' %}
{% block content %}
    <div class="text">
        <img src="images/IT31.jpg" width="600px">
        <h2>ІНФО + інший WTF :)</h2>
        <h3> Часто задавані питання....Чому? Як? Навіщо? </h3>
        <h5>Надійність = Python</h5>
        <h5>Швидкість для Розробника = Django </h5>
        <h5>Гнучкість та індевідуальність для розробки = Flask </h5>
        <h5>Ми з розумінням ставимося до Ваших потреб,</h5>
        <h5>тому відразу починаемо працювати над </h5>
        <h5>втіленням у життя Вашого проекта.</h5>
        <h5>Кожен проект розробляеться індивідуально,</h5>
        <h5>під кожен продукт окремо.Цілі - впізнаність</h5>
        <h5>Вашого продукту кінцевими користувачами,</h5>
        <h5>що з часом призведе до збільшення конкурентно</h5>
        <h5>спроможності Вашого бізнеса.Та залучення</h5>
        <h5>нових кліентів що призведе до збільшення</h5>
        <h5>таваро обігу.Як бонус, швидкий і надійний сайт</h5>
        <h5>збільшує довіру у нових користувачів. </h5>
        <h5>телефонуйте: +38(097)0698585</h5>
    </div> 
{% endblock content %}