<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="portfolio.css">
    <title>Розробка сайтів під ключ.На Python/Django.</title>
</head>
<body>
    
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="images/ITP.png">
            </div>
            <div class="content">
                <h2>Сантехнік</h2>
                <p>Сайт зроблений як Landing Page,
                основна задача якого це швидкий пошук
                виконавця робіт різной складності. 
                Сайт оптимізований під мобільні додатки
                що надасть можливість швидко знаходити 
                наш сайт з різних пристроїв.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="images/ITE.png">
            </div>
            <div class="content">
                <h2>Електрік</h2>
                <p>Багато сторінковий сайт для Електриків 
                Інтерактивний,надійний який також може бути 
                швидко оптимізований під потреби великої 
                будівельной компаніі.Також оптимізований 
                під мобільні додатки.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="images/ITA.png">
            </div>
            <div class="content">
                <h2>Авто Сервіс</h2>
                <p>Багато сторінковий сайт для Авто Сервіса
                який буде залучати нових кліентів,також частково
                можливо використання для продажу запчастин,або 
                інших витратних матеріалів. 
                </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
               <img src="images/ITR.png">
            </div>
            <div class="content">
                <h2>Агенція Нерухомості</h2>
                <p> Багато сторінковий сайт для Агенція Нерухомості
                виконаний в мінімалістичному дизайні який буде дуже 
                добре індексуватися пошуковими роботами Google що 
                надасть більшу наплив відвідувачів.
                </p>
            </div>
        </div>
    </div>

</body>
</html>