{% extends 'mysite/head.html' %}
{% load static %}
{% block content %}

    <div class="text">
        <img src="{% static 'images/IT12.jpg' %}" width="700px">
        <h1>Послуги!</h1>
        <h5>Landing Page</h5>
        <h5>Разработка сайтов.</h5>
        <h5>Проектування сайтів.</h5>
        <h5>Тех.підтримка.</h5>
        <h5>Корпоративні сайти.</h5>
        <h5>Розробка CRM.</h5>
        <h5>Розробка ERP-систем.</h5>
        <h5>Інтернет магазини.</h5>
        <h5>Веб Дизайн.</h5>
        <h5>SEO-оптимізація.</h5>
        <h5>Телефонуйте невідкладаючи,в будь </h5>
        <h5>який зручний для Вас час.</h5>
        <h5>Працюем 25/8 :) </h5>
    </div> 

{% endblock %}