{% extends 'mysite/head.html' %}
{% load static %}
{% block content %}
    
    <div class="textprice">
        <img src="{% static 'images/ITmany1.jpg' %}" width="700px">
        <h1>Ціни!</h1>
        <h5>SEO-оптимізація від 400 у.е на місяць</h5>
        <h5>Landing Page від 500 у.е</h5>
        <h5>Сайти які більше 3-х сторінок від 800 у.е</h5>
        <h5>Інтерннет магазини від 3000 у.е</h5>
        <h5>Корпоративні сайти від 5000 у.е</h5>
        <h5>Розробка CRM = 900 у.е</h5>
        <h5>Розробка ERP-систем  від 9000 у.е</h5>
        <h5>Працюем 25/8 :) </h5>
        <h5>Консультаціі Безкоштовні. </h5>
        <h5>Телефонуйте невідкладаючи... </h5>
        <h5>Ми з розумінням ставимося до Ваших потреб.</h5>
    </div> 

{% endblock %}